body{
    background-color: #ffbed9;
    
}

/*números*/

.numeros {
    position: absolute;
    top: 200px;
    left: 485px;
    
}

p {
    margin: 0;
    width: 15px;
    height:75.7px;
}


div.numeros {
padding-top: 24px;
font-weight: bold;
}


/*fín de números*/

/*letras*/

.letras {
    
    position: absolute;
    top: 180px;
    left: 500px;
}

div.letras div{

    width: 75.5px;
    height: 15px;
    text-align: center;
    font-weight: bold;

}

/*fín de letras*/

/*ajedrez*/

div{
    display: block;
    float: left;
    
    
}

div.ajedrez{
    width: 600px;
    height:600px;
    border: 3px solid black;
    
  
    position: absolute;
    top: 200px;
    left: 500px;
}


div.ajedrez div div {
    width:75px;
    height:75px;
    font-size: 55px;
    text-align: center;
    
}

div.ajedrez div:nth-child(odd) div:nth-child(odd) {
    background-color: white;
}

div.ajedrez div:nth-child(odd) div:nth-child(even) {
    background-color: rgb(192, 191, 191);
}

div.ajedrez div:nth-child(even) div:nth-child(even) {
    background-color: white;
}

div.ajedrez div:nth-child(even) div:nth-child(odd) {
    background-color: rgb(192, 191, 191);
}